.additional {
  padding-top: 25px;
  padding-bottom: 36px;
}

.additional__inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 80px;
  }
}

.additional__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}

.additional__list {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }
}

.additional__item {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}

.additional__description {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    align-items: center;
    flex-grow: 1;
  }
}

.additional__stats {
  font-family: $default-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $grey-900;
  margin: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}

.additional__subtitle {
  font-family: $custom-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $grey-970;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional__price {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 38px;
  }
}

.additional__button {
  width: 244px;
}
