.button {
  border: none;
  color: $white;
  background-color: $green-600;
  font-size: 14px;
  padding: 10px 72px 10px 72px;
  // FIXME не поняла, как сделать так, чтобы размер кнопки был размером с центровщик
}
