.cards__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.cards__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid $grey-300;
  padding: 19px 0 25px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    padding: 36px 38px 38px 38px;
    justify-content: center;
  }
}

.card__link {
  justify-self: center;
  align-self: center;
}
// FIXME возникли проблемы с тем, как оцентровать заголовок и заставить его вести себя как на макете в таблет версии.
// Попробовала разные способы - задавать размер контейнеру, использовать флекс - все без толку.
// Почему так происходит и как это поправить? Откуда взялся правый марджин, если я все марджины обнулила?
.card__title {
  margin: 0;
  // margin-bottom: 14px;
  font-family: $custom-font;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  width: 76px;
  color: $grey-970;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: auto;
    margin-bottom: 21px;
  }

  &--show-more {
    margin: 0;
    justify-self: center;
    width: auto;
    grid-template-columns: 1fr;
    padding: 78px 0 25px 0;
    background-image: url("../img/index/icon-plus.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 25px;
    border-bottom: 1px solid $grey-300;
    margin-bottom: 8px;
  }
}

.card__stats {
  margin: 0;
  margin-bottom: 42px;
}

.card__desc,
.card__text {
  font-family: $default-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card__text {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 16px;
  color: $grey-900;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }


  &--dt {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--dd {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--show-more {
    margin: 0;
    text-align: center;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 67px;
    }
  }
}

.card__button {
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.card__button--show {
  background-color: $grey-100;
  color: $grey-900;
}

// FIXME почему кнопки так себя ведут, как это можно исправить?
