.cards__list {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 60px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}

.cards__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid $grey-300;
  padding: 19px 0 25px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    padding: 36px 38px 38px 38px;
    border: none;
  }
}
