.card {
  &--show-more {
    display: block;
    border-bottom: 1px solid $grey-300;

    @media (min-width: $tablet-width) {
      display: grid;
      border: 1px solid $grey-300;
    }
  }
}

.card__title {
  margin: 0;
  margin-bottom: 18px;
  font-family: $custom-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 76px;
  color: $grey-970;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 21px;
    max-width: 155px;
  }

  &--show-more {
    br {
      display: none;
    }
    margin: 0 auto;
    padding-bottom: 25px;
    max-width: none;
    text-align: center;

    @media (min-width: $tablet-width) {
      br {
        display: block;
      }
    }
  }
}

.card__link {
  &--img {
    display: block;
    justify-self: center;
    align-self: center;
    // FIXME по-другому выровнять коробки в мобильной версии никак не получалось, чтобы не задевался еще и текст
    // поэтому эта часть кода осталась
    @media (min-width: $tablet-width) {
      margin-top: -90px;
      margin-bottom: 28px;
    }
  }
}

.card__img {
  &--min {
    width: 68px;
    height: 86px;

    @media (min-width: $tablet-width) {
      width: 161px;
      height: 172px;
    }
  }

  &--big {
    width: 84px;
    height: 101px;

    @media (min-width: $tablet-width) {
      width: 172px;
      height: 202px;
    }
  }
}

.card__stats {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.card__desc {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.card__text {
  display: flex;
  justify-content: space-between;
  font-family: $default-font;
  font-size: 12px;
  line-height: 16px;
  color: $grey-900;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-bottom: 9px;
    margin-bottom: 7px;
    border-bottom: 1px solid $grey-400;
  }


  &--dt {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--dd {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--show-more {
    br {
      display: none;
    }
    margin: 0;
    justify-content: center;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 67px;
      text-align: center;
      border: none;

      br {
        display: block;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.card__text-container {
  margin-bottom: 21px;
}

.card__button {
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: $tablet-width) {
    align-self: end;
  }
}

.card__button--show {
  background-color: $grey-100;
  color: $grey-900;

  &:hover {
    background-color: $grey-220;
  }

  &:active {
    color: $grey-900-transparent;
  }
}

.card__bg-image {
  height: 78px;
  background-image: url("../img/catalog/plus.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 25px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog/plus-desktop.svg");
    height: 140px;
    background-size: 60px 60px;
  }

  // @media (min-width: $tablet-width) {
  //   FIXME попробовала сделать плюсик чисто на css, но он при растяжении начинает "плавать"
  //     &::before {
  //       content: "";
  //       position: absolute;
  //       background-color: $grey-310;
  //       width: 60px;
  //       height: 2px;
  //       top: 50%;
  //       left: 40%;
  //     }

  //     &::after {
  //       content: "";
  //       position: absolute;
  //       background-color: $grey-310;
  //       width: 2px;
  //       height: 60px;
  //       top: 31%;
  //       left: 50%;
  //     }
  //   }
  // }
}
