.checkbox {
  padding-left: 46px;
  font-size: 16px;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;

    &:not(:last-child) {
      margin: 0;
    }
  }

  .checkbox__label {
    color: $grey-900;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.checkbox__input + span {
  position: relative;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $grey-400;
    position: absolute;
    top: -3px;
    left: -45px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 40px;
      height: 40px;
      left: -60px;
    }
  }
}

.checkbox__input:checked + span {
  &::before {
    background-image: url("../img/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 14px;
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-size: 24px 19px;
    }
  }
}
