.example {
  width: 100%;
  background-color: $grey-200;
  padding-top: 27px;
  padding-bottom: 25px;
}

.example__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__text--main {
  font-family: $default-font;
}

.example__text--block {
  justify-content: space-between;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.example__text--span {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 42px;
  }
}

//FIXME не понимаю, как сделать так, чтобы надпись "Затраты на питание....." была в одной строке с параметрами

.example__text--p {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
}

.example__text--extra {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-family: $custom-font;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text--min {
  text-align: center;
  font-family: $default-font;
  font-size: 12px;
  line-height: 12px;
  justify-self: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}

.example__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
}
