.example {
  position: relative;
  width: 100%;
  background-color: $grey-200;
  padding-top: 27px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-bottom: 68px;
    background-image: linear-gradient(to bottom, $white 65%, $grey-200 65%);
    border-top: 1px solid $grey-210;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 75px;
    border-top: 0;
    background-image: linear-gradient(to bottom, $white 30%, $grey-200 30%);
  }
}

.example__controls {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: right;
  }
}

.example__bar {
  position: relative;
  margin: 0 15px;
  width: 79px;

  &::before {
    content: "";
    position: absolute;
    width: 84px;
    height: 14px;
    border: 1px solid $grey-400;
    border-radius: 10px;
    background-color: $white;
    top: 4px;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 10px;
    background-color: $green-600;
    top: 8px;
    left: 5px;
  }

  @media (min-width: $tablet-width) {
    width: 428px;
    margin: 0 16px;

    &::before {
      width: 428px;
      height: 6px;
      border: none;
      background-color: $grey-320;
      top: 13px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 31px;
      height: 31px;
      border: 12px solid $white;
      border-radius: 50%;
      background-color: $green-600;
      box-shadow:
        0 3px 5px $grey-400,
        0 0 0 1px $grey-400;
      top: 0;
      left: 47%;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 25px;
  }
}

.example__slider {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.example__preview {
  position: relative;
  justify-self: center;
  height: 232px;
  width: 311px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 800px;
    height: 525px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    height: 495px;
  }
}

.example__before {
  position: absolute;
  top: -9px;
  left: -19px;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 18px;
  }

  @media (min-width: $desktop-width) {
    top: -60px;
    left: 135px;
  }
}

.example__image--before {
  width: 311px;
  height: 240px;

  @media (min-width: $tablet-width) {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
    width: 670px;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(0 0, 55% 0, 55% 100%, 0% 100%);
    height: 520px;
  }
}

.example__after {
  position: relative;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 108px;
  }

  @media (min-width: $desktop-width) {
    top: -60px;
    left: 225px;
  }
}

.example__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    height: 520px;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 45% 100%);
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
}

.example__inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
  font-family: $default-font;
  color: $grey-900;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__text-span {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.example__cost {
  font-family: $custom-font;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    margin-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    justify-self: left;
    margin-top: 0;
  }
}

.example__span {
  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.example__button {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.example__button-span {
  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted $grey-400;
  }
}
