.form {
  display: grid;
}

.form__group {
  display: grid;
  border: none;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.form__note {
  font-family: $default-font;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.form__label {
  color: $grey-900;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: $grey-900;
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  margin-top: 37px;
  margin-bottom: 23px;
}

.form__textarea::placeholder {
  text-align: center;
}


// FIXME не понимаю, как сделать так, чтобы поля были на одном уровне по правому краю
// min-width для полей переносит текст
