.gift {
  background-image: url("../img/index/background-cat-gift.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 50% 0%;
  height: 289px;


  @media (min-width: $tablet-width) {
    background-color: $green-600;
    height: 200px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 41px 43px 42px;
    height: 288px;
  }
}

.gift__text {
  font-family: $default-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  margin: 0;

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

// FIXME почему-то не примеянется vertical-align. Как этло исправить?
