.gift {
  display: flex;
  align-items: flex-end;
  background-image: url("../img/index/background-cat-gift.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 50% 0%;
  height: 289px;
  padding: 43px 61px 43px 58px;


  @media (min-width: $tablet-width) {
    background-color: $green-600;
    height: 200px;
    padding-right: 124px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    height: 289px;
    padding: 43px 61px 43px 58px;
    align-items: flex-end;
  }
}

.gift__text {
  font-family: $default-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 161px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
