.how-it-works {
  padding-top: 27px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 26px;
  }
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }
}

.how-it-works__list {
  font-family: $default-font;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px 60px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // repeat почему-то не сработал
    column-gap: 76px;
  }
}

.how-it-works__item {
  position: relative;
  margin: 0;
  padding-left: 80px;
  height: 60px;
  vertical-align: center;

  &:not(:first-child) {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    padding-top: 111px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    height: 227px;
    width: 249px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: $green-600;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: 0;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    font-family: $custom-font;
    font-size: 280px;
    z-index: -1;
    color: $grey-110;
    position: absolute;
    height: 227px;
    top: 90px;
  }
}

.how-it-works__span {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.how-it-works__item--leaf {
  &::before {
    background-image: url("../img/index/icon-leaf.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "1";
      right: 20px;
    }
  }
}

.how-it-works__item--boil {
  &::before {
    background-image: url("../img/index/icon-boil.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "2";
      right: 4px;
    }
  }
}

.how-it-works__item--cutlery {
  &::before {
    background-image: url("../img/index/icon-cutlery.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "3";
      right: 2px;
    }
  }
}

.how-it-works__item--scales {
  &::before {
    background-image: url("../img/index/icon-scales.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "4";
      right: 1px;
    }
  }
}
