.how-it-works {
  padding-top: 27px;
  padding-bottom: 42px;
}

.how-it-works__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.how-it-works__list {
  font-family: $default-font;
}

.how-it-works__item {
  margin: 0;
  margin-top: 24px;
  padding-left: 80px;

  &::before {
    content: "";
    width: 26px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.how-it-works__item--leaf::before {
  background-image: url("img/index/icon-leaf.svg");
}

.how-it-works__item--boil::before {
  background-image: url("img/index/icon-boil.svg");
}

.how-it-works__item--cutlery::before {
  background-image: url("img/index/icon-cutlery.svg");
}

.how-it-works__item--scales::before {
  background-image: url("img/index/icon-scales.svg");
}
