.location {
  @media (min-width: $desktop-width) {
    position: relative;
  }

  &--catalog {
    background-color: $grey-100;

    @media (min-width: $desktop-width) {
      background-color: $white;
    }
  }

  &--form {
    background-color: $grey-100;

    @media (min-width: $desktop-width) {
      background-color: $white;
    }
  }
}

.location__wrapper {
  position: relative;
}

.location__inner {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 66px 42px 58px 40px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 30px;
    padding: 60px 89px 52px 76px;
    width: 570px;
    background-color: $white;
  }
}

.location__cooperation {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $custom-font;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
    font-size: 20px;
  }
}

.location__address {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

.location__span {
  display: block;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.location__map {
  position: relative;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.location__pin {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 132px;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width) {
    top: 152px;
  }
}
