.main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    justify-content: right;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    justify-content: right;
    color: $white;
  }

  &--form {
    color: $black;
  }
}

.main-nav__toggle {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 18px;
  position: relative;
  top: 4px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
  }

  &--close {
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 24px;
      height: 2px;
      background-color: $black;
      left: 0;
      top: 45%;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
