.main-nav__list {
  position: relative;
  z-index: 1;

  &--close {
    display: none;
  }

  &--open {
    display: block;
    text-align: center;
    background-color: $white;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 18px;
    display: flex;
    justify-content: right;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: $black;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: right;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    margin-top: -3px;
  }

  &--index {
    @media (min-width: $desktop-width) {
      color: $white;
    }
  }

  &--form {
    color: $black;
  }
}

.main-nav__toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 12px; // здесь через марджин, потому что по-другому никак вертикально не выставлялось

  &--open {
    background-image: url("../img/menu-open-icon.svg");
    width: 20px;
    height: 20px;
  }

  &--close {
    background-image: url("../img/menu-close-icon.svg");
    width: 24px;
    height: 18px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
