.page-main {
  padding-top: 27px;
}

.page-main__main-title {
  margin: 0;
  margin-bottom: 41px;
  align-self: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 82px;
  }

  &--form {
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      margin-bottom: 118px;
    }
  }
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
