.page-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px 14px;
  width: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.page-header__logo {
  align-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__img {
  &--cat {
    width: 34px;
    height: 38px;

    @media (min-width: $tablet-width) {
      width: 174px;
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }

  &--text {
    display: block;
    margin-top: 5px;
    margin-left: -5px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
