.page-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 24px 20px;

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.page-header__logo {
  align-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
