.page-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.page-header__logo {
  align-self: center;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-header__logo--tablet,
.page-header__logo--desktop {
  display: none;
}
