.page-main {
  padding-top: 27px;
}

.page-main__main-title {
  margin: 0;
  border-top: 1px solid $grey-300;
  align-self: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  &--form {
    margin-bottom: 37px;
  }
}

.page-main__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 39px;
}

.page-main__form {
  margin-bottom: 30px;
}
