.page {
  height: 100%;
}

.page__body {
  display: grid;
  font-family: $custom-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
}

 // липкий футер
