.page-footer {
  font-family: $default-font;
  background-color: $grey-100;
}

.page-footer__location {
  background-color: $white;
}

.page-footer__text-logo,
.page-footer__social-list,
.page-footer__partner,
.partner__link {
  justify-self: center;
  align-self: center;
}

.page-footer__contact-us {
  display: grid;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 55px 30px 61px 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 57px 110px;
  }
}

.page-footer__text-logo {
  display: inline-block;
  width: 100%;
  padding: 39px 96px 32px 96px;
  border-bottom: 1px solid $grey-300;
  justify-self: center;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 128px;
    justify-self: left;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 128px;
    justify-self: left;
    padding: 0;
    margin: 0;
  }
}

// FIXME почему изображение не появляется? о__О
// ПОЧЕМУ ОНО ПОЯВИЛОСЬ В ЭТОМ КОММИТЕ?! О____О
// ПОЧЕМУ ОНО ПРОПАЛО В предыдущем КОММИТЕ ТОЛЬКО У МОБИЛЬНОЙ ВЕРСИИ?!

.page-footer__social-list {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-items: center;
    column-gap: 20px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    justify-items: center;
    column-gap: 20px;
    padding: 0;
    margin: 0;
  }
}

.social-list__item {
  justify-self: center;
  align-self: center;
}

.page-footer__partner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid $grey-300;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 163px;
    justify-content: right;
    justify-self: right;
    column-gap: 22px;
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
    justify-content: right;
    column-gap: 22px;
    padding: 0;
    margin: 0;
  }
}

