.programs__item {
  position: static;
  // нужно для того, чтобы псевдоэлементы позиционировались относительно этого блока, но я не уверена, что это правильно
  display: grid;
  background-color: $grey-100;
  margin-top: 20px;
  padding: 20px;
  padding-top: 30px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin-bottom: 30px;
  justify-self: left;
  padding-left: 70px;
}

.programs__item--slim .programs__title::before {
  content: "";
  background-image: url("../img/index/cat-slim.svg");
  width: 50px;
  height: 53px;
  position: relative;
  top: 0;
  left: 0;
}

.programs__item--pro .programs__title::before {
  content: "";
  background-image: url("../img/index/cat-pro.svg");
  width: 50px;
  height: 53px;
  position: relative;
  top: 0;
  left: 0;
}

// FIXME почему-то не повляется псевдоэлемент, в чем может быть причина?

.programs__text {
  font-family: $default-font;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey-300;
  margin: 0;
}

.programs__catalog {
  font-size: 16px;
  line-height: 16px;
  margin-top: 19px;
}

.programs__catalog::after {
  content: "";
  background-image: url("../img/index/arrow.svg");
  width: 20px;
  height: 10px;
  position: relative;
  top: 0;
  left: 0;
}

// FIXME как рпсположить элемент относительно эго контйнера, а не всей страницы? relativeз заставляет его пропадать совсем
