.programs {
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  position: relative;
  background-color: $grey-100;
  padding: 30px 20px 19px;
  padding-top: 30px;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--slim::before {
    width: 50px;
    height: 53px;
    background-image: url("../img/index/cat-slim.svg");
    top: 21px;
    left: 22px;
  }

  &--pro::before {
    width: 67px;
    height: 50px;
    background-image: url("../img/index/cat-pro.svg");
    top: 24px;
    left: 13px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 52px 61px;

    &--slim::before {
      background-size: cover;
      width: 200px;
      height: 212px;
      left: auto;
      top: 80px;
      right: 62px;
    }

    &--pro::before {
      background-size: cover;
      width: 268px;
      height: 200px;
      left: auto;
      top: 92px;
      right: 28px;
    }
  }

  @media (min-width: $desktop-width) {
    &--slim::before {
      background-size: cover;
      width: 100px;
      height: 106px;
      left: 52px;
      top: 41px;
    }

    &--pro::before {
      background-size: cover;
      width: 134px;
      height: 100px;
      left: 33px;
      top: 47px;
    }
  }
}

.programs__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
  justify-self: left;
  padding-left: 71px;

  &--slim {
    @media (min-width: $desktop-width) {
      margin-left: 20px;
    }
  }

  &--pro {
    @media (min-width: $desktop-width) {
      margin-left: 65px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-bottom: 73px;
  }
}

.programs__text {
  font-family: $default-font;
  padding-bottom: 21px;
  border-bottom: 1px solid $grey-300;
  margin: 0;
  margin-bottom: 20px;

  @media (max-width: 320px) {
    max-width: 227px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 48px;
    padding-right: 260px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 25px;
  }
}

.programs__catalog {
  display: inline-flex;
  padding-right: 55px;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  left: -1px;

  &:active {
    color: $black-transparent;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    top: 3px;
    left: 0;
  }
}

.programs__arrow {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 40px;
  height: 12px;

  @media (min-width: $tablet-width) {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  @media (min-width: $tablet-width) {
    right: -2px;
  }
}
