.programs {
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  background-color: $grey-100;
  padding: 20px;
  padding-top: 30px;
}

.programs__title {
  position: relative;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
  justify-self: left;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }
}


// .programs__item--slim .programs__title::before {
//   background-image: url("../img/index/cat-slim.svg");
//   width: 50px;
//   height: 53px;
// }

// .programs__item--pro .programs__title::before {
//   background-image: url("../img/index/cat-pro.svg");
//   background-repeat: no-repeat;
//   width: 67px;
//   height: 50px;
// }

//получилось после того, как родителю прописали relative, псевдоэлементу absolut можно сделать так и остальные элементы

.programs__text {
  font-family: $default-font;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey-300;
  margin: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.programs__catalog {
  font-size: 16px;
  line-height: 16px;

  &:active {
    color: $black-transparent;
  }
}

.programs__catalog::after {
  content: "";
  background-image: url("../img/index/arrow.svg");
  width: 20px;
  height: 10px;
  position: relative;
  top: 0;
  left: 0;
}
