.promo {
  display: grid;
  background-image: url("../img/index/background-cat-index.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 50% 0%;
  text-align: center;
  padding-bottom: 22px;
}

.promo__main-title {
  font-size: 36px;
  line-height: 36px;
  color: $white;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;
  // background-color: $black;
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  margin: 0;
  margin-bottom: 29px;
  // background-color: $black;
}

.promo__button {
  margin-top: 3px;
}
