.promo {
  &::before {
    content: "";
    position: absolute;
    top: 85px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 302px;
    background-image: url("../img/index/background-cat-mobile.jpg");
    background-repeat: no-repeat;
  }
  text-align: center;
  padding-top: 27px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    &::before {
      background-image: none;
    }
    padding-bottom: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    height: 553px;
    margin-bottom: 82px;
    text-align: left;
    padding-top: 82px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: 720px;
      height: 694px;
      background-image: url("../img/index/background-cat-desktop.jpg");
      background-repeat: no-repeat;
    }
  }
}

.promo__main-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: $black;
    background-color: transparent;
    text-align: left;
    margin-bottom: 40px;
    padding-left: 119px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $white;
  margin: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: $black;
    background-color: transparent;
    text-align: left;
    padding-left: 119px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    margin-bottom: 52px;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
    // это временное решение, чтобы потом заменить эту картинку на картинку бОльшего размера
  }

  @media (min-width: $desktop-width) {
    display: none;
    // потом, когда покажут как правильно заменять картинки в медиавыражениях, вместо дисплей-нон подставлю норм картинку
  }
}


.promo__button {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    align-self: left;
    padding: 14px 26px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
  }
}
