.stats {
  justify-content: space-between;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.stats__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 42px;
  }
}

.stats__p {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
}

.stats__extra {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-family: $custom-font;
  margin: 0;
  width: 124px;
  height: 64px;
  padding-top: 15px;
  border: 1px solid $grey-400;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 77px;
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__min {
  position: absolute;
  background-color: $grey-200;
  color: $grey-800;
  text-align: center;
  font-family: $default-font;
  font-size: 12px;
  line-height: 12px;
  justify-self: center;
  margin: 0;
  top: 55px;
  width: 87px;
  align-self: center;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    font-size: 14px;
    line-height: 14px;
    top: 68px;
    width: max-content;
    background-color: $white;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-200;
  }
}
