.text-field__input {
  border: 1px solid $grey-210;
  padding: 10px 20px 11px;
  font-family: $custom-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-900;
}

.text-field__input::placeholder {
  color: $grey-900;
}

.text-field__label {
  color: $grey-900;
}
