.text-field {
  display: flex;
  margin: 0;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}


.text-field__label {
  color: $grey-900;
  width: max-content;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.text-field__input {
  flex-grow: 1;
  border: 1px solid $grey-210;
  padding: 10px 20px 11px;
  font-family: $custom-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $grey-900;
  margin-left: 10px;

  //FIXME не знаю, как сделать так, чтобы бордеры у инпутов при ховере и активе менялись(
  &::placeholder {
    color: $grey-900;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
