.text-field__input {
  min-height: 46px;
  border: 1px solid $grey-210;
}

.text-field__input::placeholder {
  color: $grey-900;
  padding: 10px 20px 11px;
}

.text-field__label {
  color: $grey-900;
}
