// fonts

$custom-font: "Oswald", "Arial", sans-serif;
$default-font: "Arial", sans-serif;

// colors

$black: #000000;
$black-transparent: rgba(0, 0, 0, 0.3);
$white: #ffffff;
$white-transparent: rgba(255, 255, 255, 0.3);
$red-300: #ff8282;
$green-600: #68b738;
$green-700: #5eaa2f;
$grey-100: #f2f2f2;
$grey-200: #eaeaea;
$grey-210: #e7e7e7;
$grey-220: #ebebeb;
$grey-300: #d9d9d9;
$grey-400: #cdcdcd;
$grey-800: #444444;
$grey-900: rgba(68, 68, 68, 1);
$grey-900-transparent: rgba(68, 68, 68, 0.3);
$grey-970: rgba(34, 34, 34, 1);

//viewports

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
